PDNS_API_KEY={{ pdns_api_key }}
PDNS_API_URL=http://127.0.0.1:8081
PDNS_VERSION=4.5.3

SQLA_DB_URI=sqlite:////data/pdnsadmin.db

PORT=80
SECRET_KEY={{ pdns_admin_secret_key }}

# Optional admin bootstrap
ADMIN_USERNAME={{ pdns_admin_username }}
ADMIN_PASSWORD={{ pdns_admin_password }}
ADMIN_EMAIL={{ pdns_admin_email }}
