{
  email yornik@yornik.nl
  log {
    output file /var/log/caddy/access.log
    level INFO
    format json
  }
}

(headscale_auth_only_tailscale) {
	@not_tailscale not remote_ip 100.64.0.0/10 127.0.0.1
	respond @not_tailscale "Access denied: Tailscale only" 403
}

https://jump.yornik.nl {
  reverse_proxy /admin* 127.0.0.1:3000
  reverse_proxy * 127.0.0.1:8080
}

https://dnsapi.yornik.nl {
  reverse_proxy 127.0.0.1:8081
}

https://dnsadmin.yornik.nl {
  reverse_proxy 127.0.0.1:9191
}
