{
  email yornik@yornik.nl
  log {
    output file /var/log/caddy/access.log
    level INFO
    format json
  }
}

https://jump.yornik.nl {
  reverse_proxy /admin* 127.0.0.1:3000
  reverse_proxy * 127.0.0.1:8080
}

https://dnsapi.yornik.nl {
  reverse_proxy 127.0.0.1:8081
}

https://dnsadmin.yornik.nl {
  reverse_proxy 127.0.0.1:9191
}
