Contact: mailto:yornik@yornik.nl
Expires: {{ '%Y-%m-%dT23:59:59Z' | strftime((ansible_date_time.epoch | int) + 90 * 86400) }}
Preferred-Languages: en
Canonical: https://grafana.yornik.eu/.well-known/security.txt
