PDNS_API_KEY={{ pdns_api_key }}
PDNS_API_URL=https://dnsapi.yornik.nl
PDNS_VERSION=4.8.3
SITE_URL=https://dnsadmin.yornik.nl/
HSTS_ENABLED=True
PORT=80
SECRET_KEY={{ pdns_admin_secret_key }}
PDNS_ADMIN_SQLA_DBURI=sqlite:////data/powerdns-admin.sqlite
